considerations about "jkt" of the "cnf" claim

In section 7 of [draft-fett-oauth-dpop-04](https://tools.ietf.org/html/draft-fett-oauth-dpop-04#page-5) it is stated:

> The value in "jkt" MUST be the base64url encoding [RFC7515] of the  JWK SHA-256 Thumbprint

IMHO dictating the type of hash  (a) creates some restrictions and (b) may create some privacy issues. Wrt to (a) it is obvious that in some cases other types of hash algorithms are more suitable, e.g., we are working on a solution that binds a token to an Ethereum address, i.e., the SHA3 of the public key. Wrt to (b) there can be cases where "jkt" can be used for correlating tokens, since all tokens bound to the same public key will have the same jkt value.

I believe allowing more hash algorithms is beneficial.  This can be implemented for example similarly to [sub-resource integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) HTML tag, i.e., a "jkt" can begin with prefix indicating a particular hash algorithm

On the other hand, I see that in some presentations e.g., [here](https://www.ietf.org/proceedings/105/slides/slides-105-oauth-sessb-draft-fett-oauth-dpop-02-00)  a notation such as `jkt#S256` is used, which may imply that other types of hashes may be used as well. If this is the case, I believe this should be better communicated in the draft. 

Also related to that [Mutual-TLS Client Authentication and Certificate-Bound Access Tokens](https://tools.ietf.org/html/rfc8705) uses a similar field, called `x5t#S256`, however this field is optional (Section 3.1 of RFC 8705), since this information can be retrieved using other means, e.g. OAuth 2.0 Token Introspection (Section 3.2 of RFC 8705).

IMHO it makes sense to make `jkt` an optional field. As a use case for that, we are discussing a solution that binds a token to a [W3C DID](https://www.w3.org/TR/did-core/). The public key that corresponds to a DID at the time a token was created, can be different from the one at the time a token is used; a resource server retrieves the hash of the current public key using a solution similar to Token Introspection. 

some recent changes https://github.com/danielfett/draft-dpop/commit/9cf3a0aed116bf4131e6724ac4312e1666338935 that are somewhat related 

also this 0a851d4ccec818a0f204f602bdc00ee66058440b 