error response requirements question

I'm not quite sure if this is appropriate to raise as an issue (apologies if not) but I'm unclear on the exact requirements around error responses here:

https://github.com/danielfett/draft-dpop/blame/master/main.md#L791-L797

where it says

> the server can reply with a challenge using the 401 (Unauthorized) status code ([[RFC7235], Section 3.1](https://datatracker.ietf.org/doc/html/rfc7235#section-3.1)) and the WWW-Authenticate header field ([[RFC7235], Section 4.1](https://datatracker.ietf.org/doc/html/rfc7235#section-4.1)).

Does "can" there imply "MUST" or is it entirely optional and (aside from the case of a missing/incorrect nonce) is it at the resource server's discretion what to do?

(https://datatracker.ietf.org/doc/html/rfc6750#section-3 seems slightly firmer in that it says including `WWW-Authenticate` in the response is a MUST and 401 is a SHOULD, but I'm not sure if DPoP has deliberately picked a less prescriptive approach?)

Personally, I generally try to avoid using the normative keywords where they don't really add value. That's obviously subjective and opinion based though. But that's what's going on here. Like, the text is saying: to challenge for dpop, this is how you do it. Period. So it is an implied must. A big MUST didn't add anything IMHO. But, again, that's my preference/opinion. 

We could put a MUST in there to be more similar to RFC6750. But I'd honestly rather not.

That said, however, the current language is really passive. I'd suggest changing "the server can reply with" to "the server replies with".





Thanks Brian! That makes sense and removing that 'can' helps. With so much of my time spent working with people who are 'reluctantly' implementing standards it does really help interoperability for the language to at least not be too passive, though I do feel bad about continually nitpicking.

I think this could be closed now?

I modified the PR with [b352b25](https://github.com/danielfett/draft-dpop/pull/122/commits/b352b25cb8c051067c147eb8b2f681be039f5b7a) so that paragraph would be:

 >   Upon receipt of a request to a protected resource within the protection space requiring DPoP authentication, if the request does not include valid credentials or does not contain an access token sufficient for access, the server can respond with a challenge to the client to provide DPoP authentication information. Such a challenge is made using the 401 (Unauthorized) response status code ([RFC7235], Section 3.1) and the WWW-Authenticate header field ([RFC7235], Section 4.1). The server MAY include the WWW-Authenticate header in response to other conditions as well.

I dunno, I do sympathize with your perspective here. And helping interoperability is always good. But as you've seen from the first cut at the PR, opinions can (and often do) differ about how to do that. Also, this kind of writing is hard. 

The text above attempts to improve the paragraph in question. 


closing with the Dr.'s merge of #122