a  client MAY send a DPoP-bound access token using the `Bearer` scheme upon  receipt of a `WWW-Authenticate

## Question

While a client might send a DPoP-bound AT replacing `Bearer`, I do not understand why to use `MAY` in 

```
As such, a 
client MAY send a DPoP-bound access token using the `Bearer` scheme upon 
receipt of a `WWW-Authenticate: Bearer` challenge from a protected resource
(or if it has prior such knowledge about the capabilities of the protected
resource). The effect of this likely simplifies the logistics of phased 
upgrades to protected resources in their support DPoP or even 
prolonged deployments of protected resources with mixed token type support.
```

~My understanding is that the `typ` is `dpop+at` that should not be processed if it's not recognized...~

I'm not sure I understand what you mean. There is no `dpop+at` type defined. That [text and much of the section containing it](https://www.ietf.org/archive/id/draft-ietf-oauth-dpop-07.html#name-compatibility-with-the-bear) is saying that the `Bearer` scheme can be used to send a DPoP-bound access token to a resource that doesn't know anything about DPoP. Effictlvly making it a bearer token to that resource. 

> there's no `dpop+at` type defined

Ok, now I see:  the AT does not have a special syntax, and the only information about it being a DPoP token is in the `token_type` response parameter and/or in the introspection response, right?

> the Bearer scheme can be used to send a DPoP-bound access token

imho while it's true that given the current framework (RFC6750, RFC7519 and RFC7662) does not forbid that behavior,
I find that allowing it explicitly is just suggesting to try downgrade attacks hoping that some RS will be confused.
As such, the fact that it is not forbidden can just be stated without normative language.

> the only information about it being a DPoP token is in the token_type response parameter and/or in the introspection response, right?

The token_type is for the client. 

The token itself is bound to the DPoP key with the confirmation claim or introspection response parameter (or some unspecified way, if JWT or introspection isn't being used). 

> can just be stated without normative language.

ok, [ccd8e56](https://github.com/danielfett/draft-dpop/commit/ccd8e56b3150c871f2a5a5de00cc57f7279e1dc5)
